 
    body {
      background-color: #000;
      margin: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: 'Press Start 2P', cursive;
    }

    #score {
      font-size: 24px;
      color: #fff;
      margin-bottom: 10px;
    }

    #gameCanvas {
      background-color: #000;
      border: 20px solid #6df8ff; /* Snake green color */
      image-rendering: pixelated;
    }

    #gameOver {
      display: none;
      font-size: 24px;
      color: #ff0000; /* Red color */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: blink 1s ease-in-out infinite;
      text-align: center;
    }

    #restartButton {
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      background-color: #3498db; /* Blue color */
      color: #fff;
      border: 2px solid #fff; /* White border */
      cursor: pointer;
      outline: none;
      display: none;
    }

    @keyframes blink {
      0%, 100% { opacity: 0; }
      50% { opacity: 1; }
    }
  
